<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Data Uploaded</h1>
      <% rows.forEach(data => { %>
      <a
        download="custom-filename.jpg"
        href="data:data/<%= data.profile_image_contentType %>;base64,<%= data.profile_image_data.toString('base64') %>  "
      >
        <img
          src="data:dgit ata/<%= data.profile_image_contentType %>;base64,<%= data.profile_image_data.toString('base64') %>  "
          alt="Image"
        />
      </a>
      <h1><%= data.description %></h1>

      <% }) %>
    </div>
    <div>
      <form action="/" method="post" enctype="multipart/form-data">
        <input type="text" name="description" id="" placeholder="Description" />
        <input type="file" name="sampleFile" id="" />
        <input type="submit" value="Add" />
      </form>
    </div>
  </body>
</html>
